mock/src/.flows.json.backup
[{"id":"8135f96b.355d18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8a35e954.75ca18","type":"websocket-client","path":"wss://echo.websocket.org","wholemsg":"false"},{"id":"d3201146.0fd6a","type":"websocket-client","z":"","path":"/signalr","tls":"","wholemsg":"false"},{"id":"b9daffe8.4625","type":"inject","z":"8135f96b.355d18","name":"","topic":"","payload":"Hello There","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":130,"y":140,"wires":[["13873077.ec78d"]]},{"id":"13873077.ec78d","type":"websocket out","z":"8135f96b.355d18","name":"","server":"","client":"d3201146.0fd6a","x":310,"y":140,"wires":[]},{"id":"629354df.4aa9bc","type":"http in","z":"8135f96b.355d18","name":"","url":"/mock","method":"get","upload":false,"swaggerDoc":"","x":110,"y":60,"wires":[["94761236.4d1d2"]]},{"id":"94761236.4d1d2","type":"template","z":"8135f96b.355d18","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\"hey\": \"der\"}","output":"str","x":240,"y":60,"wires":[["b751878b.d021f8"]]},{"id":"b751878b.d021f8","type":"http response","z":"8135f96b.355d18","name":"","statusCode":"200","headers":{},"x":400,"y":60,"wires":[]}]